#include <resource.h>
#define IDD_DIALOG 101
#define IDC_ICONMAIN 102
#define IDC_BUTTONINSTALL 1001
#define IDC_BUTTONCANCEL 1002
#define IDC_EDIT 1003
#define IDC_CHECKBOX 1004

#define PICTURE01 2001
#define PICTURE02 2002
#define PICTURE03 2003
#define PICTURE04 2004
#define PICTURE05 2005
#define PICTURE06 2006
#define PICTURE07 2007
#define PICTURE08 2008
#define PICTURE09 2009
#define PICTURE10 2010
#define PICTURE11 2011
#define PICTURE12 2012
#define PICTURE13 2013
#define PICTURE14 2014
#define PICTURE15 2015
#define PICTURE16 2016
#define PICTURE17 2017
#define PICTURE18 2018
#define PICTURE19 2019
#define PICTURE20 2020
#define PICTURE21 2021
#define PICTURE22 2022
#define PICTURE23 2023
#define PICTURE24 2024
#define PICTURE25 2025
#define PICTURE26 2026
#define PICTURE27 2027
#define PICTURE28 2028
#define PICTURE29 2029
#define PICTURE30 2030
#define PICTURE31 2031
#define PICTURE32 2032
#define PICTURE33 2033
#define PICTURE34 2034
#define PICTURE35 2035
#define PICTURE36 2036
#define PICTURE37 2037
#define PICTURE38 2038
#define PICTURE39 2039
#define PICTURE40 2040
#define PICTURE41 2041
#define PICTURE42 2042
#define PICTURE43 2043
#define PICTURE44 2044
#define PICTURE45 2045
#define PICTURE46 2046
#define PICTURE47 2047
#define PICTURE48 2048
#define PICTURE49 2049
#define PICTURE50 2050
#define PICTURE51 2051
#define PICTURE52 2052
#define PICTURE53 2053
#define PICTURE54 2054
#define PICTURE55 2055
#define PICTURE56 2056
#define PICTURE57 2057
#define PICTURE58 2058
#define PICTURE59 2059
#define PICTURE60 2060
#define PICTURE61 2061
#define PICTURE62 2062
#define PICTURE63 2063
#define PICTURE64 2064
#define PICTURE65 2065
#define PICTURE66 2066
#define PICTURE67 2067
#define PICTURE68 2068
#define PICTURE69 2069
#define PICTURE70 2070
#define PICTURE71 2071
#define PICTURE72 2072
#define PICTURE73 2073
#define PICTURE74 2074
#define PICTURE75 2075
#define PICTURE76 2076
#define PICTURE77 2077
#define PICTURE78 2078
#define PICTURE79 2079
#define PICTURE80 2080
#define PICTURE81 2081
#define PICTURE82 2082
#define PICTURE83 2083
#define PICTURE84 2084
#define PICTURE85 2085
#define PICTURE86 2086
#define PICTURE87 2087
#define PICTURE88 2088
#define PICTURE89 2089
#define PICTURE90 2090
#define PICTURE91 2091
#define PICTURE92 2092
#define PICTURE93 2093
#define PICTURE94 2094
#define PICTURE95 2095
#define PICTURE96 2096
#define PICTURE97 2097
#define PICTURE98 2098
#define PICTURE99 2099
#define PICTURE100 2100
#define PICTURE101 2101
#define PICTURE102 2102
#define PICTURE103 2103
#define PICTURE104 2104
#define PICTURE105 2105
#define PICTURE106 2106

#define PROGRAM01 3001
#define PROGRAM02 3002

IDD_DIALOG DIALOGEX 200, 150, 318, 192
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "【超巨星汉化组】CLANNAD被光守望着的坡道 汉化版V1.5"
FONT 10, "MS Shell Dlg", 400, 0, 0x0
BEGIN
    PUSHBUTTON      "安装",IDC_BUTTONINSTALL,146,164,69,22
    EDITTEXT        IDC_EDIT,7,4,304,160,ES_MULTILINE | ES_AUTOHSCROLL | WS_VSCROLL
    CONTROL         "我已阅读并同意以上所有内容",IDC_CHECKBOX,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,164,139,22
    PUSHBUTTON      "取消",IDC_BUTTONCANCEL,235,164,66,22
END

IDC_ICONMAIN ICON "game.ico"
PICTURE01 RCDATA "g00\\CHM_01.gch"
PICTURE02 RCDATA "g00\\CHM_02.gch"
PICTURE03 RCDATA "g00\\CHM_03.gch"
PICTURE04 RCDATA "g00\\CHM_04.gch"
PICTURE05 RCDATA "g00\\CHM_05.gch"
PICTURE06 RCDATA "g00\\Cmenu_01.gch"
PICTURE07 RCDATA "g00\\Cmenu_02.gch"
PICTURE08 RCDATA "g00\\Cmenu_03.gch"
PICTURE09 RCDATA "g00\\Cmenu_04.gch"
PICTURE10 RCDATA "g00\\Cmenu_05.gch"
PICTURE11 RCDATA "g00\\Cmenu_06.gch"
PICTURE12 RCDATA "g00\\Cmenu_07.gch"
PICTURE13 RCDATA "g00\\Cmenu_08.gch"
PICTURE14 RCDATA "g00\\Cmenu_09.gch"
PICTURE15 RCDATA "g00\\Cmenu_10.gch"
PICTURE16 RCDATA "g00\\Cmenu_11.gch"
PICTURE17 RCDATA "g00\\Cmenu_12.gch"
PICTURE18 RCDATA "g00\\Cmenu_13.gch"
PICTURE19 RCDATA "g00\\Cmenu_14.gch"
PICTURE20 RCDATA "g00\\Cmenu_15.gch"
PICTURE21 RCDATA "g00\\Cmenu_16.gch"
PICTURE22 RCDATA "g00\\Ctitle_01.gch"
PICTURE23 RCDATA "g00\\Ctitle_02.gch"
PICTURE24 RCDATA "g00\\Ctitle_03.gch"
PICTURE25 RCDATA "g00\\Ctitle_04.gch"
PICTURE26 RCDATA "g00\\Ctitle_05.gch"
PICTURE27 RCDATA "g00\\Ctitle_06.gch"
PICTURE28 RCDATA "g00\\Ctitle_07.gch"
PICTURE29 RCDATA "g00\\Ctitle_08.gch"
PICTURE30 RCDATA "g00\\Ctitle_09.gch"
PICTURE31 RCDATA "g00\\Ctitle_10.gch"
PICTURE32 RCDATA "g00\\Ctitle_11.gch"
PICTURE33 RCDATA "g00\\Ctitle_12.gch"
PICTURE34 RCDATA "g00\\Ctitle_13.gch"
PICTURE35 RCDATA "g00\\Ctitle_14.gch"
PICTURE36 RCDATA "g00\\Ctitle_15.gch"
PICTURE37 RCDATA "g00\\Ctitle_16.gch"
PICTURE38 RCDATA "g00\\MENU_01.gch"
PICTURE39 RCDATA "g00\\MENU_02.gch"
PICTURE40 RCDATA "g00\\MENU_03.gch"
PICTURE41 RCDATA "g00\\MENU_04.gch"
PICTURE42 RCDATA "g00\\MENU_05.gch"
PICTURE43 RCDATA "g00\\MENU_06.gch"
PICTURE44 RCDATA "g00\\MENU_07.gch"
PICTURE45 RCDATA "g00\\MENU_08.gch"
PICTURE46 RCDATA "g00\\MENU_09.gch"
PICTURE47 RCDATA "g00\\MENU_10.gch"
PICTURE48 RCDATA "g00\\MENU_11.gch"
PICTURE49 RCDATA "g00\\MENU_12.gch"
PICTURE50 RCDATA "g00\\MENU_13.gch"
PICTURE51 RCDATA "g00\\MENU_14.gch"
PICTURE52 RCDATA "g00\\MENU_15.gch"
PICTURE53 RCDATA "g00\\MENU_16.gch"
PICTURE54 RCDATA "g00\\STT_WAR00.gch"
PICTURE55 RCDATA "g00\\_SYS_base.gch"
PICTURE56 RCDATA "g00\\_SYS_BTN01.gch"
PICTURE57 RCDATA "g00\\_SYS_BTN02.gch"
PICTURE58 RCDATA "g00\\_SYS_BTN03.gch"
PICTURE59 RCDATA "g00\\_sys_ch_base.gch"
PICTURE60 RCDATA "g00\\_SYS_EXIT.gch"
PICTURE61 RCDATA "g00\\_sys_font.gch"
PICTURE62 RCDATA "g00\\_sys_init.gch"
PICTURE63 RCDATA "g00\\_sys_r_01.gch"
PICTURE64 RCDATA "g00\\_sys_r_02.gch"
PICTURE65 RCDATA "g00\\_sys_r_03.gch"
PICTURE66 RCDATA "g00\\_sys_r_04.gch"
PICTURE67 RCDATA "g00\\_sys_r_05.gch"
PICTURE68 RCDATA "g00\\CPM_00.gch"
PICTURE69 RCDATA "g00\\CPM_01.gch"
PICTURE70 RCDATA "g00\\CPM_02.gch"
PICTURE71 RCDATA "g00\\CPM_03.gch"
PICTURE72 RCDATA "g00\\CPM_04.gch"
PICTURE73 RCDATA "g00\\CPM_05.gch"
PICTURE74 RCDATA "g00\\CPM_06.gch"
PICTURE75 RCDATA "g00\\CPM_07.gch"
PICTURE76 RCDATA "g00\\CPM_08.gch"
PICTURE77 RCDATA "g00\\CPM_09.gch"
PICTURE78 RCDATA "g00\\CPM_10.gch"
PICTURE79 RCDATA "g00\\CPM_11.gch"
PICTURE80 RCDATA "g00\\CPM_12.gch"
PICTURE81 RCDATA "g00\\CPM_13.gch"
PICTURE82 RCDATA "g00\\CPM_14.gch"
PICTURE83 RCDATA "g00\\CPM_15.gch"
PICTURE84 RCDATA "g00\\CPM_16.gch"
PICTURE85 RCDATA "g00\\CREDIT_01.gch"
PICTURE86 RCDATA "g00\\CREDIT_02.gch"
PICTURE87 RCDATA "g00\\CREDIT_03.gch"
PICTURE88 RCDATA "g00\\CREDIT_04.gch"
PICTURE89 RCDATA "g00\\CREDIT_05.gch"
PICTURE90 RCDATA "g00\\CREDIT_06.gch"
PICTURE91 RCDATA "g00\\CREDIT_07.gch"
PICTURE92 RCDATA "g00\\CREDIT_08.gch"
PICTURE93 RCDATA "g00\\CREDIT_09.gch"
PICTURE94 RCDATA "g00\\CREDIT_10.gch"
PICTURE95 RCDATA "g00\\CREDIT_11.gch"
PICTURE96 RCDATA "g00\\CREDIT_12.gch"
PICTURE97 RCDATA "g00\\CREDIT_13.gch"
PICTURE98 RCDATA "g00\\CREDIT_14.gch"
PICTURE99 RCDATA "g00\\CREDIT_15.gch"
PICTURE100 RCDATA "g00\\CREDIT_16.gch"
PICTURE101 RCDATA "g00\\_sys_ch_y.gch"
PICTURE102 RCDATA "g00\\_sys_ch_n.gch"
PICTURE103 RCDATA "g00\\taremaku1.gch"
PICTURE104 RCDATA "g00\\taremaku2.gch"
PICTURE105 RCDATA "g00\\taremaku3.gch"
PICTURE106 RCDATA "g00\\taremaku4.gch"

PROGRAM01 RCDATA "CJXHook.dll"
PROGRAM02 RCDATA "RealliveCHS.exe"